APP_URL=
VITE_APP_URL=

SUPABASE_DB_URL=

BETTER_AUTH_SECRET=
BETTER_AUTH_URL=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

CLOUDFLARE_SECRET_KEY=
CLOUDFLARE_ACCESS_KEY=
CLOUDFLARE_BUCKET=
CLOUDFLARE_R2_API=
CLOUDFLARE_R2_DOMAIN=

API_KEY=

WHITELIST_GMAILS=

E2E_TEST_EMAIL=
E2E_TEST_PASSWORD=

SENTRY_DSN=
SENTRY_ENABLED=true